.NewLeadPage-banner {
    background-color: #3F3D561A;
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
}

.NewLeadPage-title {
    font-size: 5rem;
    font-family: "Just_Another_Hand";
}

.NewLeadPage-linkhome {
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    color: #CC2F02BF;
}